
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topbar {
  background-color: #0e1424 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;
}


.icono {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}

.redes-sociales {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1rem;
  margin: 10px 0;
  margin-left: 70px;
}
 
.cliente {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.95rem;
  line-height: 1.3;
  margin: 10px 0;
}

.logosRedes {
  max-height: 24px;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: transform 0.2s ease;

}

.logo2:hover {
  transform: scale(1.1);
}

.numero{
   font-weight: 800; /* Negrita */
}

/* === Media Query para pantallas menores a 768px (tablets y celulares) === */
@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 10px;
  }

  .redes-sociales {
    justify-content: center;
    margin: 10px 0;
  }

  .cliente {
    align-items: center;
  }
}
.redes-sociales {
  display: flex;
}

