
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  max-height: 80px;
  margin-left: 70px;
}

.menu-container {
  justify-content: center;
}

.navbar-nav {
  display: flex;
  gap: 100px; /* aumenté el gap para más separación */
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
@media (max-width: 991px) {
  .navbar-nav {
    gap: 15px; /* menos separación en móvil para que no quede muy amplio */
  }
}

.custom-link {
  font-size: 1.1rem;
  color: #050505 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #6cc7ee !important;
}
.mi-navbarr{
  background-color: #5694d2; /* ejemplo: gris oscuro */
}
